<table class="table table-striped table-primary">
    <thead>
      <tr>
        <th><%=count%></th>
        <th>Email</th>
        <th>Emp Type</th>
        <th>Hourly Rate</th>
        <th>Total Hours</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <%if (records.length >0){ %>
      <% records.forEach(function(row){ %>
      <tr>
        <td><a href="/item/<%= row._id %>"><%= row._id %></a></td>
        <td><%= row.name %></td>
        <td><%= row.createdAt %></td>
        <td><%= row.hit %></td><td><%= row.monkol %></td>
        <td><%= row.type %></td>
       
      </tr>
      <% })}else{ %>
        <tr>
            <td colspan="6">No Record Found</td>
            
          </tr>
        <% } %>
    </tbody>
  </table>